@font-face {
   font-size: clamp(1rem, 0.9077rem + 0.4103vw, 1.2rem);
   font-family: 'bleeding_cowboys';
   src: url('fonts/bleeding_cowboys.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

body{
   overflow: hidden;
}

.end-screen {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("img/10_design/wuste-sonnenuntergang.jpg");
   width: 100vw;
   height: 100vh;
   background-position: center;
   background-size: cover;
}

.game-over-container,
.win-container {
   font-size: 6rem;
   text-align: center;
   text-shadow: 5px 5px #ff0000;
}

.endscreen-hidden {
   display: none;
   z-index: 10;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.pointer {
   cursor: pointer;
}

.flex-contain {
   display: flex;
   flex-direction: column;
   margin-left: 4rem;
   margin-right: 4rem;
}

.text-panel {
   font-size: 0.75rem;
   display: flex;
   align-items: center;

   flex-wrap: wrap;
}

canvas {
   background-color: black;

}

body {
   font-family: 'bleeding_cowboys', Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   margin: 0;
   color: #FDF359;
}

h1 {
   position: relative;
   text-align: center;
   color: #FDF359;
   text-shadow: 1px 1px 5px #FDF359;
   margin: 0;
   width: 100%;
}

.canvas-width-fullscreen {
   width: calc(100% - 0.5rem);
   height: calc(100% - 4.5rem);
}

.fullscreen-icon {
   z-index: 10;
   padding: 0.25rem;
   cursor: pointer;
   position: absolute;
   height: 2rem;
   width: 2rem;
   right: calc(4rem / 2 - 2rem / 2);
   top: calc(4rem / 2 - 2rem / 2)
}

.hover-mouse:hover {
   color: #FCFFBF;
}


.fullscreen-icon:hover {
   background-color: #FCFFBF;

}

.exitFullscreenHidden {
   display: none !important;
}

#start_img_game_design {
   border-radius: 1rem;
   box-shadow: 5px 10px 8px rgba(218, 66, 1, 0.5);
   border: solid rgb(218, 66, 1) 0.25rem;

}


#startSide {
   position: relative;
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
   background-image: url("img/10_design/wuste-sonnenuntergang.jpg");
   background-position: center;
   background-size: cover;
}

.startScreen {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background-color: aliceblue;
   background-image: url("img/10_design/wuste-sonnenuntergang.jpg");
   row-gap: 3rem;
   background-position: center;
   background-size: cover;
   overflow: hidden;
}

.size2rem2rem {
   height: 2rem;
   width: 2rem;
   box-shadow: 5px 1px 8px #994409;
}

.control-btn-explanation-service {
   margin-top: 1rem;
   margin-bottom: 1rem;
   display: flex;
   justify-content: center;
   max-width: 44rem;
}

.contains-explanation {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   display: flex;
   align-items: center;

}

.flex {
   display: flex;
}

.explanation-text {
   font-size: 1rem;
   padding-left: 1rem
}

.explanation-service {
   display: flex;
   flex-direction: column;
   width: 25vw;

}

.button {
   position: relative;
   display: inline-flex;
   padding: 0.75rem 1rem 0.75rem 1rem;
   border: 2px solid #BFC0C0;
   margin: 1rem 1.25rem 1rem 1.25rem;
   color: #FCFFBF;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 0.8em;
   letter-spacing: 1.5px;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   cursor: pointer;
   border-radius: 1rem;
   box-shadow: 5px 1px 8px #994409;
   border: solid;
   border-color: black;
}

a {
   font-size: 1rem;
   color: #FDF359;
   text-align: center;
   text-decoration: none;
   letter-spacing: 1px;
}


#button-7 a {
   position: relative;
   left: 0;
   transition: all .35s ease-Out;
}

#dub-arrow {
   width: 100%;
   height: 100%;
   background: #FCFFBF;
   left: -200px;
   position: absolute;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .35s ease-Out;
   bottom: 0;
}

#button-7 img {
   width: 20px;
   height: auto;
}

#button-7:hover #dub-arrow {
   left: 0;
   cursor: pointer;
}

#button-7:hover a {
   left: 150px;
}



.control-btn {
   height: 2.5rem;
   padding: 0.5rem 1rem 0.5rem 1rem;
   background-color: #994409;
   display: block;
   border-left: solid 0.25rem;
   border-right: solid 0.25rem;
   border-bottom: solid 0.25rem;
   border-color: rgb(218, 66, 1);
   box-shadow: 5px 1px 8px rgba(218, 66, 1, 0.5);
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
   color: #FDF359;
   display: flex;
   justify-content: space-between;
}

.panel {
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   border: solid;
   border-color: black;
   padding: 0.5rem;
   background-color: #FE9C34;
   border-radius: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.panel:hover {
   background-color: #FCFFBF;
   cursor: pointer;
}


.panel-contain {
   display: flex;
   justify-content: space-evenly;
}

.arrow-left {
   transform: scaleX(-1);
}

.arrow-up {
   transform: rotate(-90deg);
}

.arrow-jump {
   transform: scaleX(-1);
}


.icons-img {
   width: 100%;
   height: 100%;
}

#fullscreen {
   margin-top: 1rem;

   border-radius: 1rem;
   box-shadow: 5px 10px 8px rgba(218, 66, 1, 0.5);

}

canvas {
   display: block;
   border-left: solid 0.25rem;
   border-right: solid 0.25rem;
   border-top: solid 0.25rem;
   border-color: rgb(218, 66, 1);
   box-shadow: 5px 10px 8px rgba(218, 66, 1, 0.5);
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;

}


@media only screen and (max-width: 575px) {
   .explanation-text {
      text-align: start;
      width: 6rem !important;
   }

}


@media only screen and (max-width: 720px) {

   .contains-explanation {

      margin: 0.75rem 0rem 0.75rem 0rem;
   }

   #start_img_game_design {
      border-radius: 0;
   }


   .control-btn {
      border: none;
      border-radius: 0;
   }

   canvas {
      width: 100vw;
      border: none;
      border-radius: 0rem;
   }

   .hidden {
      display: none;
   }

   #fullscreen {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
   }

   .startScreen {
      width: 100%;
   }

   #start_img_game_design {
      width: 100%;
   }

   .control-btn-explanation-service {
      width: 100%;
      flex-wrap: wrap;
   }

   .size2rem2rem {
      width: 1rem;
      height: 1rem;
   }
}

@media only screen and (max-height: 920px) {
   .startScreen {
      row-gap: 0 !important;

   }


   .size2rem2rem {
      width: 1rem;
      height: 1rem;
   }
}

@media only screen and (max-height: 680px) {

   #contain6-explanation,
   #contain3-explanation {
      display: none
   }
}

@media only screen and (max-height: 620px) {

   #contain5-explanation,
   #contain2-explanation {
      display: none
   }

}



@media only screen and (max-height: 580px) {

   canvas {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0rem;
   }

   .size2rem2rem {
      width: 1rem;
      height: 1rem;
   }


   .hidden {
      display: none;
   }

   #fullscreen {
      height: calc(100% - 2.5rem);
      width: 100%;
      margin: 0;
      padding: 0;
   }
}

@media only screen and (max-height: 560px) {

   #contain4-explanation,
   #contain1-explanation {
      display: none
   }
}


@media only screen and (max-height: 500px) {
   .size2rem2rem {
      width: 1rem;
      height: 1rem;
   }

   .contains-explanation {
      width: auto;

   }

   .control-btn-explanation-service {
      margin: 0;
   }

   .button {
      margin: 0.5rem 1.25rem 0.5rem 1.25rem;
   }

   #start_img_game_design {
      height: 80vh;
   }

   .button {
      height: 20vh;
   }

   .game-over-container,
   .win-container {
      font-size: 3rem;
   }

   h1 {
      display: none;
   }



   #startSide {
      height: 97vh;
   }

}

@media only screen and (max-height: 420px) {
   #contain3-explanation {
      display: none
   }
}

@media only screen and (max-height: 350px) {
   .size2rem2rem {
      width: 0.5rem;
      height: 0.5rem;
   }
}

@media only screen and (max-height: 350px) {

   #contain2-explanation,
   #contain1-explanation {
      display: none
   }
}